.fl1{
    float:left;
}
.fl2{
    float:right;
}
body{
    background-image: url(Vn/1.jpg);
    background-repeat: round;
    background-attachment: fixed;

    border: 1px white solid;
}

header{
    text-align: center;
    color:red;

    background-image: url(img/Vn/1.jpg);
    background-repeat: round;

    border:2px gold solid;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}
main{
    background-color:white;
    border:2px black solid;
    margin: 20px;
    padding: 20px;
}

ol{
    display:inline-block;
    color:darkred;
}
li{
    font-size: 30px;
    clear:both;
}
p{
    color:black;
}

img{
    border:2px black solid;
    box-shadow: 0px 0px 2px 2px gray;
    height:50%;
    width:50%;
}
